deepspeed
easydict
einops
ftfy
gradio
h5py
iopath
ipdb
kornia
matplotlib
mdtex2html
numpy
open3d_python
opencv_python
peft
Pillow
pytorchvideo
PyYAML
regex
scikit_learn
termcolor
timm
torch
torchaudio
torchvision
tqdm
transformers
sentencepiece
